# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

venv
src/executables/unittests
src/numcpp/tests/compile_error_*.txt
*.gcda
*.gcno
*.info
.sconsign.dblite
.sconf_temp
config.log
demo
site.cfg
site.cfg.g++
site.cfg.clang
coverage
timing
_*.hpp
*.pyc
